<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="/a/logs/app/lotto"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFileINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/lotto-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/info/lotto-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="rollingFileERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/lotto-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/error/lottery-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- 测试环境，配置sentry用来收集日志-->
    <appender name="sentry-dev" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>http://e465cf1c135b43279229fe132868c2cf:063349c870d94896be1e97d065cfcf0e@49.232.65.109:9000/50</dsn>
        <tags>tag1:value1,tag2:value2</tags>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
    </appender>

    <!-- 生产环境，配置sentry用来收集日志-->
    <appender name="sentry-prod" class="com.getsentry.raven.logback.SentryAppender">
        <dsn>http://b537623c6d5e4579b29da8a8c90b8681:3fb75c5f293b462986997908ee6fb493@49.232.65.109:9000/51</dsn>
        <tags>tag1:value1,tag2:value2</tags>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
    </appender>

    <logger name="com.dl.shop.lotto" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.dl.base.mapper" level="INFO"/>
    <logger name="com.alibaba.druid" level="WARN"/>

    <!--测试环境日志配置-->
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFileINFO"/>
            <appender-ref ref="rollingFileERROR"/>
            <appender-ref ref="sentry-dev"/>
        </root>
    </springProfile>

    <!-- 生产环境日志配置-->
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFileINFO"/>
            <appender-ref ref="rollingFileERROR"/>
            <appender-ref ref="sentry-prod"/>
        </root>
    </springProfile>
</configuration>
