<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.lotto.dao2.LottoMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.lotto.model.Lotto">
    <id column="term_num" jdbcType="INTEGER" property="termNum" />
    <result column="prize_date" jdbcType="VARCHAR" property="prizeDate" />
    <result column="prize_num" jdbcType="VARCHAR" property="prizeNum" />
    <result column="prizes" jdbcType="VARCHAR" property="prizes" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  
  <sql id="allFields">
  term_num,prize_date,prize_num,prizes,create_time
  </sql>
  
  <!-- 历史中奖 -->
 <select id="getLastNumLottos" resultMap="BaseResultMap">
	SELECT 
	<include refid="allFields"></include>
	 FROM dl_super_lotto 
	 ORDER BY term_num DESC 
	 LIMIT #{count}	
  </select>
  
</mapper>